@import './base.css';

/* ---RESPONSIVE----------- */
@import './breakpoint-1050.css' (max-width: 1050px);
@import './breakpoint-880.css' (max-width: 880px);
@import './breakpoint-650.css' (max-width: 650px);

/* -------------------------- */
:root {
  --light-orange: #ffe9de;
  --sweet-orange: #f7aa7e;
  --orange: #ec5a13;
  --light-grey: #edf4fb;
  --input-grey: #e6eaee;
  --middle-grey: #4f4f4f;
  --shadow-grey: #bbb;
  --under-grey: #7c92a5;
  --grey: #627c93;
  --blue: #094171;
  --green: green;
  --brown: #89390f;
  --black: #152233;
  --header-height: 110px;
  --header-height-bp-650: 170px;
  --footer-height: 80px;
  --container-width: 1055px;
  --container-width-bp-1050: 880px;
  --container-width-bp-880: 650px;
  --container-width-bp-650: 500px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

body {
  font-family: 'Nunito Sans', serif;
  color: var(--black);
}

main {
  min-height: calc(100% - (var(--header-height)) - (var(--footer-height)));
  margin-top: var(--header-height);
}

@media (max-width: 650px) {
  main {
    margin-top: var(--header-height-bp-650);
  }
}

button {
  font-family: 'Nunito Sans', serif;
  font-size: inherit;
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

/* ---RESPONSIVE--------- */
/* @media (max-width: 1050px) {
  .container {
    max-width: var(--container-width-bp-1050);
    margin: 0 auto;
  }
} */
